<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.37" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Common" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Compound.Split" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Data.Diff" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Detection" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.DslcTargets" version="8.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.ProgramSynthesis.Extraction.Json" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Extraction.Text" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Extraction.Text.Deprecated" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Extraction.Web" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Matching.Text" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Read.FlatFile" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Split.Text" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Transformation.Formula" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Transformation.Json" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Transformation.Text" version="8.3.0" targetFramework="net472" />
  <package id="Microsoft.ProgramSynthesis.Transformation.Tree" version="8.3.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net472" />
</packages>